<%- include('include/header')%>

    <main class="container">
        <%- include('include/navbar')%>
         
        <section class="message-error">
            <h1>Page not found.</h1>
            <p>code 404!</p>
        </section>

    </main>

    <%- include('include/footer')%>