<%- include('include/header')%>
    <main class="container">
        <nav>
            <ul class="logo">
                <li>
                    Logo
                </li>
            </ul>
            <ul class="menu">
                <li class="search-area">
                    <i class="icon-search"></i>
                    <input class="search" type="text" name="" id="">
                </li>

                <li>Categories</li>
                <li>Github</li>
                <li>Login</li>
            </ul>
        </nav>

        <section class="tags-area">
            <a href="#" class="tags">#portifolio</a>
            <a href="#" class="tags">#case-use</a>
            <a href="#" class="tags">#style-code</a>
            <a href="#" class="tags">#style-code</a>
            <a href="#" class="tags">#style-code</a>
            <a href="#" class="tags">#style-code</a>
            <a href="#" class="tags">#style-code</a>
        </section>

        <section class="checklist">
            <div class="checklist-header">
                <h2>Checklists</h2>
                <p>Suggestion checklist</p>
            </div>
            <p>there are <span>62</span> of them and counting! </p>
        </section>

        <section class="checklist-posts">
            <div class="post">
                <div class="post-header">
                    <h3>Back-end</h3>
                    <p>information</p>
                </div>
                <div class="post-body">
                    <h3>A Remote Day of Atolye15</h3>
                    <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, officia nulla porro soluta odio vel aliquid eligendi aut tempore quo?</article>
                </div>
                <div class="post-footer">
                    <span class="post-tags">
                        #404error
                    </span>
                    <span class="post-tags">
                        #style-code
                    </span>
                    <span class="post-tags">
                        #code-clen
                    </span>

                </div>
            </div>

            <div class="post">
                <div class="post-header">
                    <h3>Tittle</h3>
                    <p>information</p>
                </div>
                <div class="post-body">
                    <h3>A Remote Day of Atolye15</h3>
                    <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, officia nulla porro soluta odio vel aliquid eligendi aut tempore quo?</article>
                </div>
                <div class="post-footer">
                    <span class="post-tags">
                        #404error
                    </span>
                    <span class="post-tags">
                        #style-code
                    </span>
                    <span class="post-tags">
                        #code-clen
                    </span>

                </div>
            </div>
            <div class="post">
                <div class="post-header">
                    <h3>Back-end</h3>
                    <p>information</p>
                </div>
                <div class="post-body">
                    <h3>A Remote Day of Atolye15</h3>
                    <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, officia nulla porro soluta odio vel aliquid eligendi aut tempore quo?</article>
                </div>
                <div class="post-footer">
                    <span class="post-tags">
                        #404error
                    </span>
                    <span class="post-tags">
                        #style-code
                    </span>
                    <span class="post-tags">
                        #code-clen
                    </span>

                </div>
            </div>
            <div class="post">
                <div class="post-header">
                    <h3>Back-end</h3>
                    <p>information</p>
                </div>
                <div class="post-body">
                    <h3>A Remote Day of Atolye15</h3>
                    <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod, officia nulla porro soluta odio vel aliquid eligendi aut tempore quo?</article>
                </div>
                <div class="post-footer">
                    <span class="post-tags">
                        #404error
                    </span>
                    <span class="post-tags">
                        #style-code
                    </span>
                    <span class="post-tags">
                        #code-clen
                    </span>

                </div>
            </div>

        </section>
    </main>

    <%- include('include/footer')%>