<%- include('./include/header')%>

    <main class="container-page-user">
        <%- include('./include/navbar')%>

<section class="container-profile">
    <%- include('./include/message')%>
        <h1>PAINEL DE CONTROLE DO ADMINISTRADOR</h1>

    
</section>


</main>

<%- include('./include/footer')%>