<%- include('./include/header')%>

<main class="container-painel">
    <%- include('./include/navbar')%>

    <section class="container-cards">
        <%- include('./include/message')%>
        <h1>About</h1>

        <section class="card">
            <div class="card-box">users</div>
            <div class="card-box">posts</div>
            <div class="card-box">Tags</div>
            <div class="card-box">Database</div>
        </section>
    </section>
</main>

<%- include('./include/footer')%>
