

.success{
    margin-top: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    border: solid 1px rgb(28, 126, 28);
    background-color: rgb(30, 179, 30);
}

.error{
    margin-top: 5px;
    padding: 10px 15px;
    border-radius: 5px;
    border: solid 1px rgb(211, 76, 66);
    background-color: rgb(146, 46, 39)
}