

.success{
    margin: 10px 0px;
    padding: 8px 13px;
    border-radius: 5px;
    border: solid 2px rgb(30, 179, 30);
    background-color: rgb(28, 126, 28);
}

.error{
    margin: 10px 0px;
    padding: 8px 13px;
    border-radius: 5px;
    border: solid 2px rgb(146, 46, 39);
    background-color: rgb(211, 76, 66);
}