nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    color:$colorFontSecondary;

    .logo{
        display: flex;
        content: url("../assets/img/kyan1.png");
        width: 200px;
        height: 150px;
        object-fit: cover;    
    }

    .menu{
        display: flex;
        justify-content: space-around;
        flex: 1;
        font-size: 1rem;

        li{
            display: flex;
            cursor: pointer;
            list-style: none;
            transition: color 500ms ease;


            a{
                position: relative;
                color: $colorFontSecondary;
                text-decoration: none;
                
                display: flex;
                transition: color 500ms ease;
                padding: 8px 16px;

                &:hover::before{
                    color: white;
                    transition: all 500ms ease;
                    width: 110%;
                }
                &::before{
                    color: white;
                    display: flex;
                    content:'';
                    height:1px;
                    background: $primaryColor ;
                    position:absolute;
                    bottom: 0px;
                    left: 0px;
                    width: 0%;
                    transition: all 500ms ease;
                }
            }

            
            .search{
                background-color: rgba(0, 0, 0, 0);
                
                font-size: 1rem;
                outline: none;
                border: none;
                border-bottom: 2px solid $colorFontSecondary;
                color: $colorFontSecondary;
             }
        }

        .profile-navbar{
            position: relative;
            display: flex;
            font-size: 0.8rem;
            
            color: $primaryColor;

            .profile-text{
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                
                justify-content: space-around;

                a{
                    display: flex;
                }
            }

            .role{
                color: white;
                font-size: 0.6rem;
                font-weight: 700;
                border-radius: 4px;
                padding: 3px;
                height: fit-content;
                background: crimson;
                position: absolute;
                top: 47px;
                left: 2px;
            }

            .profile-img{
                
                width: 50px;
                height: 50px;
                object-fit: cover;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
    
     
        .search-area{
            position: relative;
            border-radius: 4px;
            &:focus{
                border: rgb(111, 111, 111) solid 1px;
            }
        

            .icon-search{
                position: absolute;
                top: 10px;
                right: 0px;
                content: url("/assets/icons/icons8-search.svg");
                width: 20px;
                fill: aliceblue;
            }


        }
    }
}