@media (max-width: 1024px) {
    .container .checklist-posts {
        grid-template-columns: repeat(2, 1fr);
    }

    .container-page-user{
        .users{
            grid-template-columns: repeat(3, 1fr);
        }
    }
    
}

@media (max-width: 850px) {
    .container {
        width: 90vw;

        .checklist-posts {
            grid-template-columns: 1fr;
        }
    }

    footer .footer-area{
        flex-direction: column;
    }

    .container-page-user{
        .users{
            grid-template-columns: repeat(2, 1fr);
        }
    }

    nav {
        height: 25vh;

        .logo {
            display: flex;
            content: url("../assets/img/kyanMobile.png");
            width: 80px;
            height: 80px;
            object-fit: cover;
        }
    }

    .create-post-form {
        width: 70%;

        button{
            padding:10px;
            background-color: $backgroundPostHover;
            color: $colorFontWhite;
            width: 100%;
        }
    }
    .tags-area {
        display: flex;
        margin-top: 50px;
        flex-wrap: wrap;
        gap: 5px;
    }
}