    $background: #101013;
    $colorTagsHeader: #181c27;
    $primaryColor: #f52d5b;
    $colorFontWhite: #ebebeb;
    $colorFontSecondary: #62809e;
    $colorPostBlue: #2d7df5;
    $backgroundPost: #1b202c;
    $backgroundPostHover: #282f41;
    $archorColor: #3263bf;