.container-view {
    display: flex;
    flex-direction: column;
    background-color: $backgroundPost;
    padding: 40px;
    width: 90vw;
    margin: 0 auto;
    border-radius: 4px;

    .menu-view{
        display: flex;
        justify-content: flex-end;
    }

    .paragraph-view {
        color: $colorFontSecondary;
    }

    .tags {
        padding: 8px;
        background-color: $primaryColor;
        font-size: 0.8rem;
        border-radius: 4px;
        width: fit-content;
        margin-right: 5px;
        font-weight: 700;
    }

    .page-view-tags-area {
        display: flex;
        flex-direction: row;
        margin: 10px 0px;
    }

    article {
        width: 60%;
    
        margin: 0 auto;
    }
    #post-data{
        .image-container{
            
            img{
                object-fit: cover;
                border-radius: 0.5rem;
                width: 100%;
                height: 300px;
            }
            
        }
    }
}

.edit-post {
    background-color: $backgroundPostHover;
    padding: 10px;
    border-radius: 5px;
    font-size: 0.8rem;
    color: $colorFontWhite;
    font-weight: 400;
    display: flex;
    width: fit-content;
    align-items: flex-end;
    cursor: pointer;
    margin: 0;

    &:hover{
        background-color: $backgroundPost;
    }
}

