.grid-column-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.checklist-header h2 {
    margin-bottom: 20px;
}

.post-header h3 {
    color: var(--color-font-white);
    margin-bottom: 10px;
}
.post {
    position: relative;
    border-top: none;
}

.anchor-full {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.anchor-full:hover + .post {
    background-color: var(--background-post-hover);
}

.post-header p {
    font-size: 1rem;
}
.post-header {
    display: flex;
    flex-direction: column;
}
