@media (max-width: 1024px) {
    .container .checklist-posts {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 850px) {
    .container .checklist-posts {
        grid-template-columns: 1fr;
    }
    .container {
        width: 90vw;
    }
    nav .logo {
        display: flex;
        content: url("../assets/img/kyanMobile.png");
        width: 80px;
        height: 80px;
        object-fit: cover;
    }
    nav {
        height: 25vh;
    }

    .tags-area {
        display: flex;
        margin-top: 50px;
        flex-wrap: wrap;
        gap: 5px;
    }
}
