<footer>
    <section class="footer-area">
        <div class="footer-content">
            <a href="#">Visit my portifolio</a>
            <a href="#">lorem ipsum</a>
            <a href="#">lorem ipsum</a>
            <a href="#">lorem ipsum</a>

        </div>
        <div class="footer-content">
            <a href="#">lorem ipsum</a>
            <a href="#">lorem ipsum</a>
            <a href="#">lorem ipsum</a>
            <a href="#">lorem ipsum</a>

        </div>
        <div class="footer-content">
            <a href="#">lorem ipsum</a>
            <a href="#">lorem ipsum</a>
            <a href="#">lorem ipsum</a>
            <a href="#">lorem ipsum</a>

        </div>

    </section>

    <small>
        create by <a href="https://github.com/ArthurMaciel95" id="footer-link">@ArthurMaciel95</a> - GitHub
    </small>
</footer>

</body>

</html>