<footer>
    <section class="footer-area">
        <div class="footer-content">
            <a href="#">lorem ipsum</a>
            <a href="#">lorem ipsum</a>
            <a href="#">lorem ipsum</a>
            <a href="#">lorem ipsum</a>

        </div>
        <div class="footer-content">
            <a href="#">lorem ipsum</a>
            <a href="#">lorem ipsum</a>
            <a href="#">lorem ipsum</a>
            <a href="#">lorem ipsum</a>

        </div>
        <div class="footer-content">
            <a href="#">lorem ipsum</a>
            <a href="#">lorem ipsum</a>
            <a href="#">lorem ipsum</a>
            <a href="#">lorem ipsum</a>

        </div>

    </section>
</footer>

</body>

</html>