<%if(error.length > 0) {%>
    <div class="error">
        <% error.forEach(msg =>{%>
            <%- msg%>
        <%}); %>
    </div>
<% }%>
    
    
    
<%if(success.length > 0) {%>
    <div class="success">
        <% success.forEach(msg =>{%>
            <%- msg%>
        <%}); %>
    </div>
<% }%>