<nav>
    <ul class="logo">
        <li>
            Logo
        </li>
    </ul>
    <ul class="menu">
        <li class="search-area">
            <i class="icon-search"></i>
            <input class="search" type="text" name="" id="">
        </li>
        <% h.forEach( link=> {%>
            <li>
                <a href="<%= link.slug %>">
                    <%= link.name%>
                </a>
            </li>
            <%})%>
    </ul>
</nav>