<nav>
    <ul class="logo">
        <li>
            Logo
        </li>
    </ul>
    <ul class="menu">
        <li class="search-area">
            <i class="icon-search"></i>
            <input class="search" type="text" name="" id="">
        </li>

        <li>Categories</li>
        <li>Github</li>
        <li>Login</li>
    </ul>
</nav>